@media screen and (max-width:900px) {
  .building-material-supplier {
    position: absolute;
    top: 51px;
    left: calc(50% - 155px);
    display: inline-block;
    width: 310px;
  }
  .aronpw-bc40m7skyfq-unsplash-sc-icon {
    position: absolute;
    top: 387px;
    left: calc(50% - 127px);
    border-radius: 15px;
    width: 253px;
    height: 253px;
    object-fit: cover;
  }
  .welcome-to-gayatri {
    position: absolute;
    top: calc(50% - 156.5px);
    left: calc(50% - 158px);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    font-family: Montserrat;
    display: inline-block;
    width: 315px;
    height: 186px;
  }
  .building-material-supplier-parent {
    position: absolute;
    width: 100%;
    top: 75px;
    right: 0;
    left: 0;
    background-color: #fcef4f;
    height: 663px;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
    font-family: Prata;
  }
  .ultratech-cement-logo-1-icon {
    position: absolute;
    top: 103px;
    left: calc(50% - 161px);
    width: 95px;
    height: 52px;
    object-fit: cover;
  }
  .birlawhite-1-icon,
  .unnamed-1-icon {
    position: absolute;
    top: 85px;
    left: calc(50% - 31px);
    width: 59px;
    height: 86px;
    object-fit: cover;
  }
  .unnamed-1-icon {
    top: 81px;
    left: calc(50% + 63px);
    width: 96px;
    height: 96px;
  }
  .b822d2d0faf3bdceafd483a4ded341-icon,
  .v-guard-newlogo-1-icon {
    position: absolute;
    top: 178px;
    left: calc(50% - 113px);
    width: 114px;
    height: 121px;
    object-fit: cover;
  }
  .v-guard-newlogo-1-icon {
    top: 206px;
    left: calc(50% + 36px);
    width: 66px;
    height: 66px;
  }
  .five-star-customer-product-rat-icon {
    position: absolute;
    top: 388px;
    left: calc(50% - 68px);
    width: 135px;
    height: 43px;
    object-fit: cover;
  }
  .div13,
  .google-reviews {
    position: absolute;
    font-weight: 600;
  }
  .div13 {
    top: 341px;
    left: calc(50% - 32px);
    font-size: 40px;
  }
  .google-reviews {
    top: 422px;
    left: calc(50% - 96px);
    text-align: center;
  }
  .ashok-prajapat,
  .trusted-by-numerous {
    position: absolute;
    display: inline-block;
  }
  .trusted-by-numerous {
    width: 88.14%;
    top: 527px;
    left: 7.67%;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
  }
  .ashok-prajapat {
    top: 615px;
    left: 33px;
    font-weight: 600;
    color: #609e7b;
    text-align: center;
    width: 189px;
  }
  .this-company-provides {
    position: absolute;
    width: 89.53%;
    top: 672px;
    left: 7.67%;
    font-size: 16px;
    display: inline-block;
    height: 206px;
  }
  .official-retail-partner {
    position: absolute;
    top: 30px;
    left: calc(50% - 84px);
    font-size: 14px;
    font-weight: 600;
  }
  .official-retail-partner-of-parent {
    position: absolute;
    width: 100%;
    top: 738px;
    right: 0;
    left: 0;
    height: 873px;
    overflow: hidden;
    font-size: 24px;
  }
  .our-services {
    position: absolute;
    top: 16px;
    left: calc(50% - 113px);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
  .norbert-kundrak-ivczslikjbe-un-icon,
  .norbert-kundrak-ivczslikjbe-un-icon1,
  .pexels-santiago-pagnotta-17026-icon {
    position: absolute;
    top: 628px;
    left: calc(50% - 146px);
    width: 291px;
    height: 291px;
    object-fit: cover;
  }
  .norbert-kundrak-ivczslikjbe-un-icon,
  .norbert-kundrak-ivczslikjbe-un-icon1 {
    top: 1149px;
  }
  .norbert-kundrak-ivczslikjbe-un-icon1 {
    top: 108px;
    border-radius: 5px;
  }
  .efficient-delivery-for,
  .premium-bricks-for,
  .quality-cement-for {
    position: absolute;
    top: 411px;
    left: calc(50% - 159px);
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    width: 330px;
    height: 79px;
  }
  .efficient-delivery-for,
  .premium-bricks-for {
    top: 940px;
    left: calc(50% - 160px);
    width: 350px;
    height: 52px;
  }
  .efficient-delivery-for {
    top: 1472px;
    width: 333px;
    height: 54px;
  }
  .introducing-our-formal,
  .our-cement-service,
  .our-delivery-service {
    position: absolute;
    top: 490px;
    left: calc(50% - 160px);
    font-size: 14px;
    display: inline-block;
    width: 340px;
    height: 117px;
  }
  .introducing-our-formal,
  .our-delivery-service {
    top: 1022px;
    left: calc(50% - 162px);
    width: 313px;
  }
  .our-delivery-service {
    top: 1558px;
    left: calc(50% - 160px);
    width: 331px;
  }
  .line-div {
    border-top: 2px solid #000;
    box-sizing: border-box;
    width: 98px;
    height: 2px;
  }
  .features-benefits,
  .line-div {
    position: relative;
  }
  .line-parent {
    position: absolute;
    top: 1675px;
    left: calc(50% - 159px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-size: 10px;
  }
  .benefits,
  .features {
    position: absolute;
    top: 1738px;
    left: 43px;
    font-size: 24px;
    font-weight: 600;
  }
  .benefits {
    top: 2108px;
  }
  .frame-child75,
  .frame-child76,
  .frame-child77,
  .frame-child78,
  .frame-child74 {
    position: absolute;
    top: 1799px;
    left: 17px;
    border-radius: 50%;
    background-color: #609e7b;
    width: 18px;
    height: 18px;
  }
  .frame-child75,
  .frame-child76,
  .frame-child77,
  .frame-child78 {
    top: 2168px;
  }
  .frame-child76,
  .frame-child77,
  .frame-child78 {
    top: 1878px;
  }
  .frame-child77,
  .frame-child78 {
    top: 1959px;
  }
  .frame-child78 {
    top: 2037px;
  }
  .frame-child79,
  .frame-child80,
  .frame-child81,
  .frame-child82,
  .frame-child8 {
    position: absolute;
    top: 1805px;
    left: 23px;
    border-radius: 50%;
    background-color: #609e7b;
    width: 6px;
    height: 6px;
  }
  .frame-child80,
  .frame-child81,
  .frame-child82,
  .frame-child83 {
    top: 2174px;
  }
  .frame-child81,
  .frame-child82,
  .frame-child83 {
    top: 1884px;
  }
  .frame-child82,
  .frame-child83 {
    top: 1965px;
  }
  .frame-child83 {
    top: 2043px;
  }
  .high-quality-materials-our,
  .wide-range-of {
    position: absolute;
    width: 82.09%;
    top: 2165px;
    left: 12.79%;
    display: inline-block;
    height: 73px;
  }
  .wide-range-of {
    width: 72.33%;
    top: 1795px;
  }
  .competitive-prices-to,
  .exclusive-dealership-with,
  .high-quality-products-that {
    position: absolute;
    width: 82.09%;
    top: 1875px;
    left: 12.79%;
    display: inline-block;
    height: 73px;
  }
  .competitive-prices-to,
  .high-quality-products-that {
    top: 1955px;
  }
  .competitive-prices-to {
    top: 2035px;
  }
  .rmc-1-icon {
    position: absolute;
    top: 2343px;
    left: calc(50% - 146px);
    border-radius: 15px;
    width: 291px;
    height: 291px;
    object-fit: cover;
  }
  .our-services-parent {
    position: absolute;
    width: 100%;
    top: 1611px;
    right: 0;
    left: 0;
    background-color: #f5f8fd;
    height: 2713px;
    overflow: hidden;
  }
  .happy-customers,
  .we-pride-ourselves {
    position: absolute;
    width: 85.88%;
    left: 8.53%;
    display: inline-block;
  }
  .happy-customers {
    top: 324px;
    font-weight: 500;
  }
  .we-pride-ourselves {
    top: 399px;
    font-size: 16px;
    height: 129px;
  }
  .pexels-fauxels-3182765-ckhqj0n-icon {
    position: absolute;
    top: 54px;
    left: calc(50% - 147px);
    width: 294px;
    height: 204px;
    object-fit: cover;
  }
  .happy-customers-parent {
    position: absolute;
    width: 100%;
    top: 4324px;
    right: 0;
    left: 0;
    height: 566px;
    overflow: hidden;
    font-size: 32px;
  }
  .contact-us,
  .our-address,
  .working-hours {
    position: absolute;
    top: 27px;
    left: 44px;
    font-size: 20px;
    font-weight: 500;
  }
  .contact-us,
  .working-hours {
    top: 139px;
    left: 43px;
  }
  .working-hours {
    top: 270px;
    left: 44px;
  }
  .kudi-bhagtasni {
    margin: 0;
  }
  .ashok9352122800gmailcom,
  .div1,
  .kudi-bhagtasni-1c105-container,
  .mon-sun {
    position: absolute;
    top: 61px;
    left: 47px;
    font-weight: 500;
    display: inline-block;
    width: 185px;
    height: 78px;
  }
  .ashok9352122800gmailcom,
  .div14,
  .mon-sun {
    top: 182px;
    left: 45px;
    width: 314px;
    height: 42px;
  }
  .div14,
  .mon-sun {
    top: 206px;
    left: 44px;
    width: 296px;
    height: 27px;
  }
  .mon-sun {
    top: 300px;
    left: 45px;
    width: 255px;
    height: 42px;
  }
  .our-address-parent {
    position: absolute;
    width: 100%;
    top: 4890px;
    right: 0;
    left: 0;
    background-color: #f1f1f1;
    height: 372px;
    overflow: hidden;
  }
  .frame-child84 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 430px;
    height: 75px;
  }
  .gayatri-building-material {
    position: absolute;
    top: calc(50% - 41.5px);
    left: calc(50% - 101px);
    font-weight: 500;
  }
  .home {
    position: relative;
    cursor: pointer;
  }
  .home-group {
    position: absolute;
    top: calc(50% - 0.5px);
    left: calc(50% - 134px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
    font-size: 14px;
  }
  .rectangle-parent2 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 99px;
    overflow: hidden;
    font-family: Montserrat;
  }
  .macbook-air-1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 5262px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
  }
  .div33333{
    position: relative;
    top: 205px;
    font-weight: 500;
  }
}
@media screen and (min-width:900px){
  
.building-material-supplier {
  position: absolute;
  top: 116px;
  left: 75px;
  display: inline-block;
  width: 666px;
  height: 172px;
}
.aronpw-bc40m7skyfq-unsplash-sc-icon {
  position: absolute;
  top: 141px;
  left: 943px;
  border-radius: 15px;
  width: 371px;
  height: 371px;
  object-fit: cover;
}
.welcome-to-gayatri {
  position: absolute;
  top: 380px;
  left: 75px;
  font-size: 26px;
  letter-spacing: 0.02em;
  line-height: 35px;
  font-family: Montserrat;
  display: inline-block;
  width: 690px;
  height: 186px;
}
.building-material-supplier-parent {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: #fcef4f;
  width: 1440px;
  height: 663px;
  overflow: hidden;
  font-size: 74px;
  font-family: Prata;
}
.official-retail-partner {
  position: absolute;
  top: 117px;
  left: 85px;
  font-weight: 600;
}
.ultratech-cement-logo-1-icon {
  position: absolute;
  top: 98px;
  left: 445px;
  width: 136px;
  height: 75px;
  object-fit: cover;
}
.birlawhite-1-icon,
.unnamed-1-icon {
  position: absolute;
  top: 73px;
  left: 646px;
  width: 84px;
  height: 123px;
  object-fit: cover;
}
.unnamed-1-icon {
  top: 67px;
  left: 795px;
  width: 137px;
  height: 137px;
}
.b822d2d0faf3bdceafd483a4ded341-icon,
.v-guard-newlogo-1-icon {
  position: absolute;
  top: 48px;
  left: 997px;
  width: 163px;
  height: 174px;
  object-fit: cover;
}
.v-guard-newlogo-1-icon {
  top: 88px;
  left: 1225px;
  width: 94px;
  height: 94px;
}
.five-star-customer-product-rat-icon {
  position: absolute;
  top: 347px;
  left: 183px;
  width: 212px;
  height: 67px;
  object-fit: cover;
}
.div13,
.google-reviews {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.div13 {
  top: 277px;
  left: 238px;
  font-size: 64px;
  width: 103px;
  height: 84px;
}
.google-reviews {
  top: 414px;
  left: 107px;
  font-size: 32px;
  text-align: center;
  width: 364px;
}
.trusted-by-numerous {
  top: 302px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  width: 745px;
}
.ashok-prajapat,
.this-company-provides,
.trusted-by-numerous {
  position: absolute;
  left: 646px;
  display: inline-block;
}
.ashok-prajapat {
  top: 424px;
  font-size: 32px;
  font-weight: 600;
  color: #609e7b;
  text-align: center;
  width: 255px;
}
.this-company-provides {
  top: 501px;
  width: 673px;
  height: 206px;
}
.official-retail-partner-of-parent {
  position: absolute;
  top: 738px;
  left: 0;
  width: 1440px;
  height: 707px;
  overflow: hidden;
  font-size: 24px;
}
.our-services {
  position: absolute;
  top: 67px;
  left: 120px;
  font-size: 58px;
  font-weight: 500;
  text-align: center;
}
.pexels-santiago-pagnotta-17026-icon {
  position: absolute;
  top: 187px;
  left: 531px;
  width: 386px;
  height: 386px;
  object-fit: cover;
}
.norbert-kundrak-ivczslikjbe-un-icon,
.norbert-kundrak-ivczslikjbe-un-icon1 {
  position: absolute;
  top: 187px;
  left: 942px;
  width: 386px;
  height: 386px;
  object-fit: cover;
}
.norbert-kundrak-ivczslikjbe-un-icon1 {
  left: 120px;
}
.efficient-delivery-for,
.premium-bricks-for,
.quality-cement-for {
  position: absolute;
  top: 586px;
  left: 120px;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  width: 364px;
  height: 79px;
}
.efficient-delivery-for,
.premium-bricks-for {
  left: 531px;
  width: 389px;
  height: 52px;
}
.efficient-delivery-for {
  top: 589px;
  left: 942px;
  width: 386px;
  height: 54px;
}
.introducing-our-formal,
.our-cement-service,
.our-delivery-service {
  position: absolute;
  top: 678px;
  left: 120px;
  font-size: 16px;
  display: inline-block;
  width: 366px;
  height: 117px;
}
.introducing-our-formal,
.our-delivery-service {
  left: 531px;
}
.our-delivery-service {
  left: 942px;
}
.line-div {
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 512px;
  height: 2px;
}
.features-benefits,
.line-div {
  position: relative;
}
.line-parent {
  position: absolute;
  top: 811px;
  left: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 33px;
  font-size: 24px;
}
.benefits,
.features {
  position: absolute;
  top: 903px;
  left: 133px;
  font-size: 32px;
  font-weight: 600;
}
.benefits {
  left: 617px;
}
.frame-child74,
.frame-child75,
.frame-child76,
.frame-child77,
.frame-child78 {
  position: absolute;
  top: 989px;
  left: 97px;
  border-radius: 50%;
  background-color: #609e7b;
  width: 18px;
  height: 18px;
}
.frame-child75,
.frame-child76,
.frame-child77,
.frame-child78 {
  left: 581px;
}
.frame-child76,
.frame-child77,
.frame-child78 {
  top: 1072px;
  left: 97px;
}
.frame-child77,
.frame-child78 {
  top: 1157px;
}
.frame-child78 {
  top: 1242px;
}
.frame-child79,
.frame-child80,
.frame-child81,
.frame-child82,
.frame-child83 {
  position: absolute;
  top: 995px;
  left: 103px;
  border-radius: 50%;
  background-color: #609e7b;
  width: 6px;
  height: 6px;
}
.frame-child80,
.frame-child81,
.frame-child82,
.frame-child83 {
  left: 587px;
}
.frame-child81,
.frame-child82,
.frame-child83 {
  top: 1078px;
  left: 103px;
}
.frame-child82,
.frame-child83 {
  top: 1163px;
}
.frame-child83 {
  top: 1248px;
}
.high-quality-materials-our,
.wide-range-of {
  position: absolute;
  top: 983px;
  left: 133px;
  display: inline-block;
  width: 391px;
  height: 73px;
}
.high-quality-materials-our {
  left: 617px;
}
.competitive-prices-to,
.exclusive-dealership-with,
.high-quality-products-that {
  position: absolute;
  top: 1068px;
  left: 133px;
  display: inline-block;
  width: 391px;
  height: 73px;
}
.competitive-prices-to,
.high-quality-products-that {
  top: 1153px;
}
.competitive-prices-to {
  top: 1238px;
}
.rmc-1-icon {
  position: absolute;
  top: 916px;
  left: 1026px;
  border-radius: 15px;
  width: 377px;
  height: 377px;
  object-fit: cover;
}
.our-services-parent {
  position: absolute;
  top: 1441px;
  left: -5px;
  background-color: #f5f8fd;
  width: 1440px;
  height: 1399px;
  overflow: hidden;
}
.happy-customers {
  position: absolute;
  top: 132px;
  left: 110px;
  font-weight: 500;
}
.we-pride-ourselves {
  position: absolute;
  top: 231px;
  left: 110px;
  font-size: 24px;
  display: inline-block;
  width: 655px;
  height: 235px;
}
.pexels-fauxels-3182765-ckhqj0n-icon {
  position: absolute;
  top: 94px;
  left: 841px;
  width: 508px;
  height: 353px;
  object-fit: cover;
}
.happy-customers-parent {
  position: absolute;
  top: 2841px;
  left: 0;
  width: 1435px;
  height: 499px;
  overflow: hidden;
  font-size: 48px;
}
.contact-us,
.our-address,
.working-hours {
  position: absolute;
  top: 63px;
  left: 111px;
  font-size: 24px;
  font-weight: 500;
}
.contact-us,
.working-hours {
  left: 594px;
}
.working-hours {
  left: 1064px;
}
.kudi-bhagtasni {
  margin: 0;
}
.kudi-bhagtasni-1c105-container {
  position: absolute;
  top: 115px;
  left: 117px;
  font-weight: 500;
  display: inline-block;
  width: 185px;
  height: 78px;
}
.ashok9352122800gmailcom,
.div14,
.mon-sun {
  position: absolute;
  top: 115px;
  left: 594px;
  font-weight: 500;
  display: inline-block;
  width: 314px;
}
.div14,
.mon-sun {
  top: 154px;
  width: 296px;
  height: 27px;
}
.mon-sun {
  top: 125px;
  left: 1065px;
  width: 255px;
  height: 42px;
}
.frame-child84,
.our-address-parent {
  position: absolute;
  left: 0;
  width: 1440px;
}
.our-address-parent {
  top: 3340px;
  background-color: #f1f1f1;
  height: 253px;
  overflow: hidden;
}
.frame-child84 {
  top: 0;
  background-color: #fff;
  height: 75px;
}
.gayatri-building-material {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 548px);
  font-weight: 500;
  cursor: pointer;
}
.home1 {
  position: relative;
  cursor: pointer;
}
.home-group {
  position: absolute;
  top: calc(50% - 13.5px);
  left: 767px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  font-size: 22px;
}
.rectangle-parent2 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 75px;
  overflow: hidden;
  font-size: 26px;
  font-family: Montserrat;
  position: fixed;
}
.macbook-air-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 3593px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Poppins;
}
}